# Git
.git
.github
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv
env
*.venv
.secure-mcp-gateway-venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
.npm/
.node_repl_history

# Build artifacts
build/
dist/
*.egg-info/
/site
.python-version

# IDE/Editor specific
.idea/
.vscode/
*.swp

# Documentation
docs/

# Scripts
scripts/

# Other files
TODO
.flake8
